---
- include_tasks: install-modules.yml
  
- name: Check/Init Swarm.
  docker_swarm:
    state: present
    advertise_addr: eth0:2377
  register: output_swarm
  when: inventory_hostname = groups['masters'][0]

- name: Install Manager nodes.
  docker_swarm:
    state: join
    timeout: 60
    advertise_addr: eth0:2377
    join_token: "{{ hostvars[groups['masters'][0]]['output_swarm']['swarm_facts']['JoinTokens']['Manager'] }}"
    remote_addrs: "{{ hostvars[groups['masters'][0]]['ansible_default_ipv4']['address'] }}"
  when: inventory_hostname in groups['masters'] and inventory_hostname != groups['masters'][0]

- name: Install Worker nodes.
  docker_swarm:
    state: join
    timeout: 60
    advertise_addr: eth0:2377
    join_token: "{{ hostvars[groups['masters'][0]]['output_swarm']['swarm_facts']['JoinTokens']['Worker'] }}"
    remote_addrs: "{{ hostvars[groups['masters'][0]]['ansible_default_ipv4']['address'] }}"
  when: inventory_hostname in groups['workers']


